h1 {
    color: maroon;
    width: 10em;
    margin: auto;
    
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center; 
}

h2 {
    color: maroon;
    width: 10em;
    margin: auto;

    
    font-size:  50px;
    text-align: center;

}

p {
    
    color: maroon;
    width: 15em;
    font-size: 1.5em;
    margin: auto ;
    padding-top: 0.9em;
}

a {
    
    font-size: 40px;
    text-align: center;
    background-color: grey;

}

h3 {
    color: maroon;
    width: 10em;
    margin: auto;

    
    font-size: 40px;
    text-align: center;


}

body {
    background-color: black;
    text-align: center;
    font-family: 'Pacifico', cursive;
    background-image: url("camion boulanger.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
 }


img {
    border-radius: 50px;
}
div.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.enfant{
    text-align: left;
}

div.enfant img {
    width: 430px;
    margin-top: 100px;
}

div.TITRE {
    background-color: grey;
    width: 35em;
    margin: auto;
    border: solid 1px maroon;
    border-radius: 50%;
}
 div.maman {
    margin: auto;
    width: 35em;
    border: solid 1px grey;
    border-radius: 50%;
    background-color: grey;
    height: 5em;
    margin-bottom: 5em;
 }

 div.papa{
    margin: auto;
    width: 35em;
    border:solid 1px grey ;
    border-radius: 50%;
    background-color: grey;
    height: 15em ;
    margin-bottom: 5em;
 }

 p.papa {
    padding-top: 1.5em;
 }


 
 div.parent2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 1em;
    border: 1px solid black;
 }

 div.parent2 div {
    border: 1px solid black;
 }

 div.frére {
    grid-row: 2;
 }
    

